<%= form_with(model: question, url:user_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :質問を選んでください %>
    </br>
    <%= form.select :question_number, Question.question_numbers.keys %>
  </div>

  <div class="field">
    <%= form.label :オリジナル質問を作ってください %>
    </br>
    <%= form.fields_for :original_question, @question.original_question do |t| %>
      <%= t.text_field :original_question %>
    <% end %>
  </div>

  <div class="field">
    <%= form.fields_for :answer, @question.answer do |t| %>
      <%= t.hidden_field :question_id, value: @question %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
