<%= form_with(model: question, url:user_questions_path, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_number %>
    <%= form.number_field :question_number %>
  </div>

  <div class="field">
    <%= form.label :user_a_id %>
    <%= form.number_field :user_a_id %>
  </div>

  <div class="field">
    <%= form.label :user_q_id %>
    <%= form.number_field :user_q_id %>
  </div>

  <div class="field">
    <%= form.label :delete_flag %>
    <%= form.check_box :delete_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
