<p id="notice"><%= notice %></p>

<p>
  <strong>Question number:</strong>
  <%= @question.question_number %>
</p>

<p>
  <strong>回答してほしい人:</strong>
  <%= @question.user_answer.name %>
</p>

<p>
  <strong>質問した人:</strong>
  <%= @question.user_question.name %>
</p>

<p>
  <strong>Delete flag:</strong>
  <%= @question.delete_flag %>
</p>

|
<%= link_to 'Back', user_questions_path %>
