<h2>ログイン</h2>

<div class='desc-slide'>
  <ul class="slides">
    <li><%= image_tag "animalicon/icon0_0.png", size: "400x400", alt: "Image 0" %></li>
    <li><%= image_tag "animalicon/icon1_1.png", size: "400x400", alt: "Image 0" %></li>
    <li><%= image_tag "animalicon/icon2_2.png", size: "400x400", alt: "Image 0" %></li>
    <li><%= image_tag "animalicon/icon3_3.png", size: "400x400", alt: "Image 0" %></li>
    <li><%= image_tag "animalicon/icon4_4.png", size: "400x400", alt: "Image 0" %></li>
    <li><%= image_tag "animalicon/icon5_5.png", size: "400x400", alt: "Image 0" %></li>
  </ul>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label 'ログイン状態を保存' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "ログイン" %>
<% end %>

<%= render "users/shared/links" %>
