<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :アイコンの動物を選びましょう　%>
  </div>

  <div class='animal_list'>
    <ul>
      <li class="list_image"><%= image_tag "animalicon/icon0_0.png", size: "50x50", alt: "Image 0" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon1_0.png", size: "50x50", alt: "Image 1" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon2_0.png", size: "50x50", alt: "Image 2" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon3_0.png", size: "50x50", alt: "Image 3" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon4_0.png", size: "50x50", alt: "Image 4" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon5_0.png", size: "50x50", alt: "Image 5" %></li>
    </ul>
  </div>

  <div class="field">
    <%= form.label :アイコンの色を選びましょう %>
  </div>

  <div class='color_list'>
    <ul>
      <li class="list_image"><%= image_tag "animalicon/icon0_0.png", size: "50x50", alt: "Image 0" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon0_1.png", size: "50x50", alt: "Image 1" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon0_2.png", size: "50x50", alt: "Image 2" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon0_3.png", size: "50x50", alt: "Image 3" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon0_4.png", size: "50x50", alt: "Image 4" %></li>
      <li class="list_image"><%= image_tag "animalicon/icon0_5.png", size: "50x50", alt: "Image 5" %></li>
    </ul>
  </div>

  <div id='icon_animal'>
    アイコンイメージ：</br>
    <%= render 'icon', user: user %>
  </div>

  <div class="field">
    </br>
    <%= form.fields_for :profiles, user.profiles do |t| %>
      <%= t.select :profile_q_number, Profile.profile_q_numbers.keys, prompt: '質問を選んでください' %>
      </br>
      <%= t.text_area :profile_a %>
      </br>
    <% end %>
  </div>


  <div class="action">
    <%= form.submit '更新', class:"action btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  //クリックで動物を選べます。
  $(document).on("click", ".animal_list .list_image", function() {
    var index = $(this).index()

    $.ajax({
      url: './',
      type: 'PATCH',
      data: { user: { icon_animal: index } },
      dataType: 'json',
      success: function(data){
        $('#icon_animal > img').attr('src', data.src);
      }
    })
  });
  //クリックでカラーを選べます。
  $(document).on("click", ".color_list .list_image", function() {
    var index = $(this).index()

    $.ajax({
      url: './',
      type: 'PATCH',
      data: { user: { icon_color: index } },
      dataType: 'json',
      success: function(data){
        $('#icon_animal > img').attr('src', data.src);
      }
    })
  });
</script>
