

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @user.icon_animal %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user.icon_color %>
</p>

<p>
  <% @user.user_answers.each do |user_answer| %>
    <%= user_answer.question_user.name %>からもらった質問：
    <%= user_answer.question_number %>
    </br>
      <% if user_answer.answer.answer.nil? %>
      　<%= link_to '回答する', edit_user_answer_path(@user, user_answer.answer) %>
      <% else %>
        　回答：　<%= user_answer.answer.answer %>　
      <% end %>　 
    </br>
  <% end %>
</p>

<p>
　<% if @user != current_user %>
    <%= link_to '質問を作る', new_user_question_path(@user) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
