
<p>
  <%= image_tag "animalicon/icon#{@user.icon_animal}_#{@user.icon_color}.png", size: "200x200" %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <% @user.a_user_questions.each do |q| %>
    <%= q.q_user.name %>からもらった質問：
      <% if q.original.ori_question == '' %>
        <%= q.q_number %>
      <% else %>
        <%= q.original.ori_question %>
      <% end %>
    </br>
      <% if q.answer.content == '' %>
      　<%= link_to '回答する', edit_user_answer_path(@user, q.answer) %>
      <% else %>
        　回答：　<%= q.answer.content %>　
      <% end %>　 
    </br>
  <% end %>
</p>

<p>
　<% if @user != current_user %>
    <%= link_to '質問を作る', new_user_question_path(@user) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
