

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @user.animal %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user.color %>
</p>

<p>
  <% @user.user_posts.each do |post| %>
    質問：
    <%= link_to post.question, user_post_path(@user,post) %>
    </br>
  <% end %>
</p>

<p>
  <%= link_to '質問を作る', new_user_post_path(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
