

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @user.icon_animal %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user.icon_color %>
</p>

<p>
  <% @user.user_questions.each do |question| %>
    質問：
    <%= link_to question.question_number, user_question_path(@user) %>
    </br>
  <% end %>
</p>

<p>
  <%= link_to '質問を作る', new_user_question_path(@user) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
