<%= form_with(model: answer, url: user_answer_path, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :届いた質問 %>：
    <% if answer.question.q_number == '質問を選びましょう' %>
      <%= answer.question.original.ori_question %>
    <% else %>
      <%= answer.question.q_number %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :あなたの回答 %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
