<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @answer.answer %>
</p>

<p>
  <strong>Delete flag:</strong>
  <%= @answer.delete_flag %>
</p>

<%= link_to 'Edit', edit_user_answer_path(@answer) %> |
<%= link_to 'Back', user_answers_path %>
