<%= form_with(model: original, local: true) do |form| %>
  <% if original.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(original.errors.count, "error") %> prohibited this original from being saved:</h2>

      <ul>
      <% original.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.number_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
