<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @original_question.question_id %>
</p>

<p>
  <strong>Original question:</strong>
  <%= @original_question.original_question %>
</p>

<%= link_to 'Edit', edit_original_question_path(@original_question) %> |
<%= link_to 'Back', original_questions_path %>
